development:
  internship:
    database:
      :host: 127.0.0.1
      :port: 3306
      :username: usuario
      :password: senha
      :name: db_name

  sga:
    database:
      :host: 127.0.0.1
      :port: 3306
      :username: usuario
      :password: senha
      :name: db_name